<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表格</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/mould.css">
</head>
<body>
<!--头部栏-->
<header class="mould-header"><i class="fa fa-home fa-lg"></i><p>页面标题</p><i class="fa fa-info-circle fa-lg"></i></header>

<div class="weui-cells__title">学年成绩</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>IC技术课程设计</p>
        </div>
        <div class="weui-cell__ft">学分：2<i class="mould-width40"></i>成绩：<i class="mould-table-em">95</i></div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>接口技术课程设计<br/><span class="mould-table-remark">备注</span></p>
        </div>
        <div class="weui-cell__ft">学分：2<i class="mould-width40"></i>成绩：<i class="mould-table-em">95</i></div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>IC技术课程设计特别长换行</p>
        </div>
        <div class="weui-cell__ft">学分：2<i class="mould-width40"></i>成绩：<i class="mould-table-em">95</i></div>
    </div>
</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>加权平均成绩</p>
        </div>
        <div class="weui-cell__ft"><i class="mould-table-em mould-table-em-purple">88.12</i></div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>必修课总学分</p>
        </div>
        <div class="weui-cell__ft"><i class="mould-table-em">88.12</i></div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>公选课总学分</p>
        </div>
        <div class="weui-cell__ft"><i class="mould-table-em">88.12</i></div>
    </div>
</div>

<!--底部栏-->
<div class="weui-tabbar">
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
        <div class="weui-tabbar__icon">
            <img src="../images/icon_nav_button.png" alt="">
        </div>
        <p class="weui-tabbar__label">选课安排</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../images/icon_nav_msg.png" alt="">
        </div>
        <p class="weui-tabbar__label">选课</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../images/icon_nav_article.png" alt="">
        </div>
        <p class="weui-tabbar__label">选课结果和选退</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-tabbar__label">已修课程</p>
    </a>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
</body>
</html>