<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图标列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/mould.css">
</head>
<body>
<!--头部栏-->
<header class="mould-header"><i class="fa fa-home fa-lg"></i><p>页面标题</p><i class="fa fa-info-circle fa-lg"></i></header>

<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd"><i class="fa fa-outdent mould-list-icon"></i></div>
        <div class="weui-cell__bd">
            <p>主校区公选课</p>
        </div>
        <div class="weui-cell__ft">说明文字
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd"><i class="fa fa-outdent mould-list-icon"></i></div>
        <div class="weui-cell__bd">
            <p>本科生选体育课</p>
        </div>
        <div class="weui-cell__ft">可不填
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd"><i class="fa fa-outdent mould-list-icon"></i></div>
        <div class="weui-cell__bd">
            <p>启明学院选课</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
</div>

<!--底部栏-->
<div class="weui-tabbar">
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
        <div class="weui-tabbar__icon">
            <img src="../images/icon_nav_button.png" alt="">
        </div>
        <p class="weui-tabbar__label">选课安排</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../images/icon_nav_msg.png" alt="">
        </div>
        <p class="weui-tabbar__label">选课</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../images/icon_nav_article.png" alt="">
        </div>
        <p class="weui-tabbar__label">选课结果和选退</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-tabbar__label">已修课程</p>
    </a>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
</body>
</html>